<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <!--<Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>-->
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t{14}] -5level %-40.40logger{39} : - %msg %n
            </Pattern>
        </encoder>
    </appender>
    <jmxConfigurator/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
